Repository jason0x43/hacs-hubitat: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, mypy_pkg, mypy_tests

black:
  name: black
  entry: poetry run black
  args:
  - --safe
  - --quiet
  language: system
  require_serial: true

flake8:
  name: flake8
  entry: poetry run flake8
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  language: system
  require_serial: true

mypy_pkg:
  name: mypy_pkg
  entry: poetry run mypy
  language: system
  require_serial: true

mypy_tests:
  name: mypy_tests
  entry: poetry run mypy
  language: system
  require_serial: true
  args:
  - --namespace-packages
  - --ignore-missing-imports
  - --allow-untyped-decorators

Fix test types
  .pre-commit-config.yaml
  setup.cfg
Due: none

Remove pytest-mock, update tests
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/async_mock.py
  tests/test_config_flow.py
  tests/test_entities.py
  tests/test_event_emitters.py
  tests/test_lock.py
  tests/test_switch.py
  tests/types.py
Due: black, flake8, isort, mypy_tests

Add entity type to unique ID, migrate multiple
  custom_components/hubitat/alarm_control_panel.py
  custom_components/hubitat/binary_sensor.py
  custom_components/hubitat/climate.py
  custom_components/hubitat/cover.py
  custom_components/hubitat/device.py
  custom_components/hubitat/entities.py
  custom_components/hubitat/fan.py
  custom_components/hubitat/light.py
  custom_components/hubitat/lock.py
  custom_components/hubitat/sensor.py
  custom_components/hubitat/switch.py
Due: black, flake8, isort, mypy_pkg

Use token in device unique ID
  custom_components/hubitat/device.py
Due: black, flake8, isort, mypy_pkg

Add entity migrations to new device ID format
  custom_components/hubitat/alarm_control_panel.py
  custom_components/hubitat/binary_sensor.py
  custom_components/hubitat/climate.py
  custom_components/hubitat/cover.py
  custom_components/hubitat/device.py
  custom_components/hubitat/entities.py
  custom_components/hubitat/fan.py
  custom_components/hubitat/light.py
  custom_components/hubitat/lock.py
  custom_components/hubitat/sensor.py
  custom_components/hubitat/switch.py
Due: black, flake8, isort, mypy_pkg

Use a hash of the token in entity IDs
  custom_components/hubitat/device.py
Due: black, flake8, isort, mypy_pkg

Use development version of hubitatmaker
  pyproject.toml
Due: none

Improve cover support
  custom_components/hubitat/cover.py
  custom_components/hubitat/manifest.json
Due: black, flake8, isort, mypy_pkg

Report fan features
  custom_components/hubitat/fan.py
  stubs/homeassistant/components/fan/__init__.pyi
Due: black, flake8, isort, mypy_pkg

Use proper attribute for event triggers
  custom_components/hubitat/const.py
  custom_components/hubitat/device.py
  custom_components/hubitat/device_trigger.py
Due: black, flake8, isort, mypy_pkg

Fix 'unlock with codes' trigger
  custom_components/hubitat/const.py
  custom_components/hubitat/device_trigger.py
  custom_components/hubitat/strings.json
  custom_components/hubitat/translations/en.json
  custom_components/hubitat/translations/fr.json
Due: black, flake8, isort, mypy_pkg

Create hub ID, use in events
  custom_components/hubitat/__init__.py
  custom_components/hubitat/config_flow.py
  custom_components/hubitat/const.py
  custom_components/hubitat/device.py
  custom_components/hubitat/device_trigger.py
  custom_components/hubitat/util.py
  stubs/homeassistant/config_entries.pyi
Due: black, flake8, isort, mypy_pkg

Update unit tests
  stubs/asynctest/__init__.pyi
  stubs/asynctest/mock/__init__.pyi
  tests/async_mock.py
  tests/async_mock/__init__.py
  tests/helper_types.py
  tests/test_entities.py
  tests/test_lock.py
Due: black, flake8, isort, mypy_tests

Fix issue tracker and URL
  custom_components/hubitat/manifest.json
Due: none

Update python dependencies
  poetry.lock
  pyproject.toml
Due: none

Update HACS install instructions
  README.md
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Update type stubs for HA 0.115
  stubs/homeassistant/components/homeassistant/triggers/__init__.pyi
  stubs/homeassistant/components/homeassistant/triggers/event.pyi
Due: none

Use new event import location for HA 0.115
  custom_components/hubitat/device_trigger.py
Due: black, flake8, isort, mypy_pkg

Update hubitatmaker version
  custom_components/hubitat/manifest.json
Due: none

Added pressure capabilities from sensors
  .gitignore
  README.md
  custom_components/hubitat/manifest.json
  custom_components/hubitat/sensor.py
  stubs/homeassistant/components/sensor/__init__.pyi
  stubs/homeassistant/const.pyi
Due: black, flake8, isort, mypy_pkg

Update poetry config
  dev
  pyproject.toml
  scripts/__init__.py
Due: none

Define tests as a module
  tests/__init__.py
Due: black, flake8, isort, mypy_tests

Improve color mode support in lights
  custom_components/hubitat/light.py
Due: black, flake8, isort, mypy_pkg

Update dependencies
  poetry.lock
Due: none

Update hubitatmaker requirement
  custom_components/hubitat/manifest.json
Due: none

Fix a bug where the heating and cooling setpoints are reversed.
  custom_components/hubitat/climate.py
Due: black, flake8, isort, mypy_pkg

Fix support for thermostats that support auto mode.
  custom_components/hubitat/climate.py
Due: black, flake8, isort, mypy_pkg

Fix support for thermostats that support auto mode (ex: Honeywell T6 Pro) (#74)
  custom_components/hubitat/climate.py
Due: black, flake8, isort, mypy_pkg

Added pressure capabilities from sensors
  .gitignore
  README.md
  custom_components/hubitat/sensor.py
  stubs/homeassistant/components/sensor/__init__.pyi
  stubs/homeassistant/const.pyi
Due: black, flake8, isort, mypy_pkg

Added pressure capabilities from sensors (#81)
  .gitignore
  README.md
  custom_components/hubitat/sensor.py
  stubs/homeassistant/components/sensor/__init__.pyi
  stubs/homeassistant/const.pyi
Due: black, flake8, isort, mypy_pkg

Update tests to use pytest-homeassistant-custom-component
  poetry.lock
  pyproject.toml
  tests/async_mock/__init__.py
  tests/test_config_flow.py
  tests/test_entities.py
  tests/test_lock.py
  tests/test_switch.py
Due: black, flake8, isort, mypy_tests

Bump package version
  pyproject.toml
Due: none

Support configurable event server URL
  custom_components/hubitat/config_flow.py
  custom_components/hubitat/const.py
  custom_components/hubitat/device.py
  custom_components/hubitat/manifest.json
  custom_components/hubitat/strings.json
  custom_components/hubitat/translations/en.json
  custom_components/hubitat/translations/fr.json
  poetry.lock
  pyproject.toml
  tests/test_config_flow.py
Due: black, flake8, isort, mypy_pkg, mypy_tests

Don't keep lock codes in local state
  custom_components/hubitat/lock.py
  tests/test_lock.py
Due: black, flake8, isort, mypy_pkg, mypy_tests

Update climate.py
  custom_components/hubitat/climate.py
Due: black, flake8, isort, mypy_pkg

Disable stale issue workflow
  .github/workflows/stale.yml
Due: none

Fix state handling for RGB bulbs
  custom_components/hubitat/const.py
  custom_components/hubitat/light.py
  custom_components/hubitat/manifest.json
Due: black, flake8, isort, mypy_pkg

Path conditions:
  black: any of: ^(custom_components|tests|stubs)/.+\.pyi?$ and \.py$
  flake8: any of: ^(custom_components|tests)/.+\.py$ and \.py$
  isort: any of: ^(custom_components|tests|stubs)/.+\.pyi?$ and \.py$
  mypy_pkg: any of: ^(custom_components|stubs)/.+\.pyi?$ and \.py$
  mypy_tests: any of: ^(tests)/.+\.py$ and \.py$
